<script lang="ts">
  import * as MdiLibrary from '@mdi/js';
  type IconNames = keyof typeof MdiLibrary;
  export let icon: IconNames | undefined = undefined;
  export let path: string | undefined = undefined;
  export let color: string = 'currentColor';
  export let width: number = 16;
  export let height: number = 16;
</script>

<svg {...$$props} viewBox="0 0 24 24" style={`width: ${width}px; height: ${height}px`}>
  <path d={icon ? MdiLibrary[icon] : path} fill={color} />
</svg>
