<script lang="ts">
  import { onMount } from 'svelte';
  export let open: boolean = false;
  export let stopScroll: boolean = true;

  onMount(() => {
    document.body.classList.toggle('overflow-hidden', open && stopScroll);

  });
  $: {
    document.body.classList.toggle('overflow-hidden', open && stopScroll)
  }
</script>

<svelte:body
  on:keydown={e => {
    if(open && e.key === 'Escape') {
      open = false;
    }
  }}
/>

<div
  tabindex={-1}
  class="fixed top-0 bottom-0 left-0 right-0 bg-[rgb(0 0 0 / 0.4)]"
  class:hidden={!open}
>
  Jim is cool
</div>
