<script lang="ts">
  export let value: number = 0;
  export let work: number = 5 * 60 * 1_000;
  export let rest: number = 5 * 60 * 1_000;
  $: value = Math.max(value, 0);
</script>


<div class="progress">
{value}/{work + rest}
</div>

<style lang="scss">
  .progress {
    --color: blue;
  }
</style>