<script lang="ts">
  import { onMount } from 'svelte';
  import { audioDir } from '@tauri-apps/api/path'
  import Icon from './components/icon.svelte';
  import Progress from './components/progress.svelte';
  import timers from './store/timers';
  
  let selected = $timers[0];
  let timerRunning = false;
  let timeElapsed = 0;
  let timeRemaining = selected.work;
  let timer: ReturnType<typeof setInterval>;

  $: timeRemaining = selected.work + selected.rest - timeElapsed;

</script>

<div class="flex w-full">
  <aside class="bg-gray-300 text-gray-800 w-1/6 max-h-screen overflow-auto">
    <h1 class="text-xl p-4 border-current border-b pb-2 font-bold">
      Taurodoro
    </h1>

    <section class="mt-4">
      {#each $timers as timer}
        <div
          on:click={(e) => {
            selected = timer;
          }}
          class="p-4 border-blue-400"
          class:border-l-4={timer.id === selected.id}
          class:font-semibold={timer.id === selected.id}
        >
          {timer.name}
        </div>
      {/each}

      <Icon
        class="mx-auto"
        icon="mdiPlus"
        on:click={e => {
          alert('add' + e);
        }}
      />

    </section>
  </aside>
  <main class="flex-grow p-4">
    <h1 class="text-lg p-4 font-semibold">
      {selected.name}
    </h1>

    <Icon />
    <button type="button" on:click={e => {
      clearInterval(timer); timer = null}}>
      <Icon height={48} width={48} icon="mdiPauseBoxOutline"/>
    </button>
    Time Remaining: {timeRemaining}
    <Progress />

  </main>
</div>
