@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Open Sans', sans-serif;
}

html,
body,
#app {
  min-height: 100vh;
  box-sizing: border-box;
}

#app {
  display: flex;
  width: 100%;
}